.carousel-inner {
    width: 1920px;
    height: auto;
    margin: 0px auto 0;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}